.header{
    display: flex;
    height:80px;
   justify-content: space-between;
   align-items: center;
   /* padding: 30px; */
   background: #fff;
   font-family: 'Public Sans', sans-serif;
 }
 .headerSec{
 display: flex;
 justify-content: right;
 gap: 4rem;
 }
 
 .search{
   display: flex;
   padding-left: 10px;
   align-items: center;
   gap: 12px;
   /* margin: 5px auto; */
   background: #F0F2F5 ;
   width: 375px;
   height: 36px;
   border: 1px solid #D0D5DD;
   
   /* color:#D0D5DD; */
   border-radius: 6px;
 }
 .searchIcon{
   font-weight: 500;
   color: #98A2B3;
 }
 .searchText{
   color:  #98A2B3;
   font-size: 14px;
   
 }
 
 .pagesCont{
   display: flex;
   align-items: center;
   justify-content: center;
   list-style-type: none;
   gap: 3rem;
   margin-right: 20px;
 }
 
  .logo img {
    width: auto;
    margin-left: 20px;
  } 
  .pageList{
 display: flex;
 flex-direction: column;
 justify-content: center;
 align-items: center;
  }
  .pageList > a{
   text-decoration: none;
  }
  .listIcon{
   display: flex;
   flex-direction: column;
   justify-content: center;
   align-items: center;
   gap: 10px;
   font-family: 'Public Sans', sans-serif;
   font-weight: 600;
   color: 
   #101928;
   font-size: 16px;
   line-height: 23.2px;
   /* text-align: center;
   font-weight: bolder;
   font-size: 1.2rem; */
   /* margin-top: 5rem; */
  }
  .mobile_menu {
    display: none;
    font-size: 1.5rem;
    cursor: pointer;
    position: absolute;
    top: 50%;
    right: 1rem;
    transform: translateY(-50%);
    z-index: 1;
  }
  @media screen and (max-width: 768px) {
    .pagesCont {
      flex-basis: 100%;
      transform: translateY(-100%);
      
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100vh;
      background: linear-gradient(120deg, #fdfbfb 0%, #ebedee 100%);
      box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
      padding: 2rem;
      transition: transform 0.3s ease-in-out;
     z-index: 1;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      gap: 30px;
      overflow-x: hidden;
      
    }
    .mobile_menu {
      display: block;
      color: #0065fe;
      position: absolute;
    
      right: 10%;
       
        top: 8%;
    font-size: 34px;
    }
    .close_icon, .menu_icon {
      color: #7F57F1;
      /* z-index: 8; */
      position: relative;
      /* z-index: 8; */
   
    }
    .open {
      transform: translateY(0);
    }
    .header{
      justify-content: left;
      gap: 30px;
      align-items: center;
    }
    .headerSec{
      display: flex;
      /* justify-content: left; */
      /* gap: 4rem; */
      }
    .search{
     /* display: none; */
     width: 200px;
     
    }
  }