.products_list{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
   gap: 20px;
    
}
.product_details{
padding: 10px 0 15px 0px;
font-family: 'Public Sans', sans-serif;
}
.details_1{
    display: flex;
    justify-content: space-between;
}
.product_name{
    color: #101928 ;
   line-height: 24px;
    font-size: 16px;
}
.price{
    font-size: 18px;
}
.price_container{
    display: flex;
    justify-content: center;
    align-items: center;
}
.naira,.price_decimal {
    font-size: 11px;
    color: #101928;
    font-weight: 400;
    
}
.product_desc{
    font-size: 12px;

}
.rating{
    display: flex;
    gap: 40px;
}
